
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Latest compiled and minified CSS -->

    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>


<body>
    <!---------------------------nav bar-------------------------------------------->
    <header id="header" style="z-index: 1000;">

        <nav class="navbar navbar-expand-lg navbar-light navbar-inner bg-secondary ctnav  ">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"> <img src="~/images/logo-small.png" width="73px" height="54px" alt="Logo"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse ctnav" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <a class="nav-link mr-2 ctborder ctbuttoncolor" href="#">Book now</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2 ctborder" asp-controller="Home" asp-action="price">Price & services</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="#">Warrenty</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="#">Blog</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" asp-controller="Contact" asp-action="Index">Contact</a> </li>
                    <li class="nav-item mr-2"> <a class="nav-link ctborder pad ctbuttoncolor " href="#" data-toggle="modal" data-target="#myModal" style="padding-right: 22px; padding-left: 22px;">Login</a> </li>
                    <li class="nav-item mr-1"> <a class="nav-link ctborder ctbuttoncolor" asp-controller="Home" asp-action="become_a_provider">Become a Helper</a> </li>
                </ul>
            </div>
        </nav>

        <!-----FAQ Image------>

    </header>

    <div class="modal modal-shadow" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header login-modal-header">

                    <h3 class="modal-title login-main-heading">
                        <b>Login to your account</b>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="Email"
                               style="border-right: none;">
                        <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="Password"
                               style="border-right: none;">
                        <span class="input-group-text"> <i class="fas fa-lock"></i></span>
                    </div>
                    <div class="login-check">
                        <input class="form-check-input login-checkbox" type="checkbox" id="myCheck" name="remember" required>
                        <label class="form-check-label" for="myCheck" style="margin-left:10px;">
                            Remeber me
                        </label>
                    </div>
                    <br>
                    <button type="submit" class="btn  login-btn"> Login </button>
                    <br><br>
                    <p class="login-para">
                        <a href="" class="login-para-links" data-target="#forgotModal"
                           data-toggle="modal" data-dismiss="modal"><b>Forgot Password ?</b></a>
                        <br>
                        Don't have an account?

                        <a asp-controller="Home" asp-action="CreateAccount" class="login-para-links">
                            <b>
                                Create an
                                account
                            </b>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="modal modal-shadow" id="forgotModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header login-modal-header">
                    <h3 class="modal-title login-main-heading">
                        <b> Forgot Password </b>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="Email"
                               style="border-right: none;">
                        <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                    </div>
                    <br>
                    <button type="submit" class="btn  login-btn"> Send </button>
                    <br><br>
                    <p class="login-para">
                        <a href="#" class="login-para-links" data-target="#myModal" data-toggle="modal" data-dismiss="modal">
                            <b>
                                Login now
                            </b>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="mt-5 footerall">
            <div class="container d-flex justify-content-between align-items-center py-4 footer1">
                <div>
                    <a href="#"><img src="~/images/logo.png" class="footer-logo"></a>
                </div>

                <nav class="nav mx-5">
                    <ul class="nav mx-5">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link foot">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="aboutus" class="nav-link foot">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link foot">TESIMONIALS</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="faq" class="nav-link foot">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link  foot">INSURANCE POLICY</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link foot">IMPRESSUM</a>
                        </li>
                    </ul>
                </nav>

                <!-- logo of instagram and facebook -->
                <div class="mx-4">
                    <a class="px-2" href="#" style="color: #ffffff;"><i class="fab fa-facebook-f"></i></a>
                    <a class="px-2" href="#" style="color: #ffffff;"><i class="fab fa-instagram"></i></a>
                </div>

            </div>


            <!-- line -->

            <div class="d-flex justify-content-center">
                <hr class="footer-line">
            </div>

            <!-- line done -->
            <!-- privacy content -->
            <div class=" text-center mb-0 py-3 privacy">
                <p class="mb-0 py-2 d-inline">
                    ©2018 Helperland. All rights reserved.&nbsp; Terms and Conditions
                    <a href="#" class="privacy">&nbsp; Privacy Policy</a>
                </p>
            </div>
        </div>

    </footer>
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        $(window).scroll(function () {
            var sticky = $("#header"),
                scroll = $(window).scrollTop();

            if (scroll > 64) sticky.addClass("fixed");
            else sticky.removeClass("fixed");
        });
    </script>

</body>
</html>
