@model Helperland.Models.Data.ContactU

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <header id="header" style="z-index: 1000;">
        <nav class="navbar navbar-expand-lg navbar-light navbar-inner bg-secondary ctnav ">
            <a class="navbar-brand" href="homepage.html"> <img src="~/images/logo-small.png" width="78px" height="54px" alt="Logo"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse ctnav" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <a class="nav-link mr-2 ctborder ctbuttoncolor" href="#">Book now</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2 ctborder" href="price.html">Price & services</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="#">Warrenty</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="#">Blog</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="contact.html">Contact</a> </li>
                    <li class="nav-item mr-2"> <a class="nav-link ctborder ctbuttoncolor" href="#" style="padding-left: 22px ; padding-right: 22px;">Login</a> </li>
                    <li class="nav-item mr-1"> <a class="nav-link ctborder ctbuttoncolor" href="Becomeaprovider.html">Become a Helper</a> </li>
                    <!--<li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>-->
                </ul>
            </div>
        </nav>
    </header>
    <img class="img-fluid" src="~/images/group-16_2.png">
    <section>
        <!------------------contact us------------------------------------->
        <h1 class="text-center heading mt-3 ">Contact us</h1>
        <div class="d-flex justify-content-center">
            <hr class="line">
            <img src="~/images/forma-1-copy-5.png" class="diamond">
            <hr class="line1">
        </div>

        <div class="container mt-5">
            <div class="row ">

                <div class="col-md-4 text-center">
                    <img src="~/images/location.png">
                    <p class="location"><br>1111 Lorem ipsum text 100,<br>Lorem ipsum AB</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="~/images/phonecall.png">
                    <p class="location"><br>+49(40)-123-56-7890<br>+49(40)-987-56-0000</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="~/images/email.png" class="imgmail">
                    <p class="location"><br>info@helperland.com</p>
                </div>
            </div>
        </div>
        <hr width="80%" height=1px;>
    </section>
    <!------------contact form------------------------->
    <section>
        <h2 class="text-center formheading">Get in touch with us</h2>
        <form asp-area="" asp-controller="Home" asp-action= "contact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form">
                <div class="container form-group">
                    <div class="text-center">

                        <input asp-for="Name" placeholder="First Name" class="form1 ">
                        <input asp-for="Name" placeholder="Last Name" class="form1 ">

                    </div>
                    <div class="text-center">
                        <span asp-validation-for="Name" class="text-danger "></span>
                    </div>
                </div>

                <div class="container">
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="input-group mobile-no ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1" style="height:46px;">+49</span>
                            </div>
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Mobile number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" style="height:46px;">

                        </div>
                        <input asp-for="Email" placeholder="Email Address" class="form1">

                    </div>
                    <div class="text-center">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </div>

                <div class="container">
                    <div class="text-center">

                        <select asp-for="SubjectType" class="form2">
                            <option value="" disabled selected>subject</option>
                            <option value="Maths">Subject1</option>
                            <option value="Phy">Subject2</option>
                            <option value="Chem">Subject3</option>
                        </select>

                    </div>
                    <div class="text-center">
                        <span asp-validation-for="SubjectType" class="text-danger"></span>
                    </div>
                </div>
                <div class="container ">
                    <div class="text-center">
                        <textarea asp-for="Message" placeholder="message" rows="4" cols="81" class="form3"></textarea>
                    </div>
                    <div class="text-center">
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                </div>

                <div class="container">
                    <div class="text-center">

                        <button type="submit" class="submit">Submit</button>
                        @*<input type="submit" class="btn btn-primary" value="Index" />*@
                    </div>
                </div>
            </div>
        </form>
    </section>


    <section>
        <!---------------map----------------->
        <div>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.83146053615!2d72.8235753145849!3d18.938852787166763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1e0f0a26a81%3A0x87d6e47e04df3916!2sWankhede%20Stadium%20Mumbai!5e0!3m2!1sen!2sin!4v1638267492310!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- <img src="~/images/group-16.png" class="img-fluid" height="400px"> -->
        <!-----------Get News Letter-------------------->
        <div class="text-center pt-5 ">
            <span class="newsletter">  GET OUR NEWSLETER</span>
            <div class="d-flex justify-content-center d-wrap mt-2">
                <input type="text" value="YOUR EMAIL" placeholder="YOUR EMAIL " class="rounded-pill align-items-left pl-3 emailbox">
                <input type="submit" value="submit" class="btn rounded-pill text-center mx-2 submit-button">
            </div>
        </div>
    </section>
    <footer>
        <div class="mt-5 footerall">
            <div class="container d-flex justify-content-between align-items-center py-4 footer1 ">
                <div>
                    <a href="#"><img src="~/images/logo.png" class="footer-logo"></a>
                </div>

                <nav class="nav mx-5">
                    <ul class="nav mx-5">
                        <li class="nav-item">
                            <a href="homepage.html" class="nav-link foot ">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a href="aboutus.html" class="nav-link foot  ">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link foot ">TESIMONIALS</a>
                        </li>
                        <li class="nav-item">
                            <a href="faq.html" class="nav-link foot ">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link foot">INSURANCE POLICY</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link foot">IMPRESSUM</a>
                        </li>
                    </ul>
                </nav>

                <!-- logo of instagram and facebook -->
                <div class="mx-4">
                    <a class="px-2" href="#" style="color: #ffffff;"><i class="fab fa-facebook-f"></i></a>
                    <a class="px-2" href="#" style="color: #ffffff;"><i class="fab fa-instagram"></i></a>
                </div>

            </div>



            <!-- line -->

            <div class="d-flex justify-content-center  ">
                <hr class="footer-line">
            </div>

            <!-- line done -->
            <!-- privacy content -->
            <div class=" text-center mb-0 py-3 privacy">
                <p class="mb-0 py-2 d-inline" style="color: #9BA0A3">
                    ©2018 Helperland. All rights reserved.&nbsp; Terms and Conditions &nbsp;
                    <a href="#" class="privacy"> Privacy Policy</a>
                </p>
            </div>
        </div>

    </footer>


    <script src="./js/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        $(window).scroll(function () {
            var sticky = $("#header"),
                scroll = $(window).scrollTop();

            if (scroll > 64) sticky.addClass("fixed");
            else sticky.removeClass("fixed");
        });

    </script>


</body>
</html>

@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
