@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="./lib/bootstrap/bootstrap.min.css">
    <link href="./css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <section class="mainpage" id="main-page" style="background-image: url(./images/main-bg-slider.png);
   background-size: cover; background-repeat: no-repeat;
    background-color: transparent; ">
        <header id="header" style="z-index: 1000;">
            <nav class="navbar navbar-expand-lg navbar-light navbar-inner ctnav ">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"> <img src="./images/logo-small.png" alt="Logo" height="102px" width="138px" class="logo-img"> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse ctnav" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"> <a class="nav-link mr-2 ctborder ctbuttoncolor" style="padding-left: 25px; padding-right: 25px;" href="#">Book a cleaner</a> </li>
                        <li class="nav-item"> <a class="nav-link mr-2 "asp-controller="Home" asp-action="price" >Price</a> </li>
                        <li class="nav-item"> <a class="nav-link mr-2" href="#">Our Guarantee</a> </li>
                        <li class="nav-item"> <a class="nav-link mr-2" href="#">Blog</a> </li>
                        <li class="nav-item"> <a class="nav-link mr-2" asp-controller="Home" asp-action="contact">Contact us</a> </li>
                        <li class="nav-item mr-2"> <a class="  nav-link ctborder ctbuttoncolor" style="padding-left: 29px ; padding-right: 29px; " href="#">Login</a> </li>
                        <!-- <li class="nav-item"><button onclick="document.getElementById('id01').style.display='block'" class="nav-link ctborder ctbuttoncolor" style="width:auto;" >Login</button></li> -->
                        <li class="nav-item mr-1"> <a class="nav-link ctborder ctbuttoncolor" style="padding-left:22px ;padding-right: 18px;"asp-controller="Home" asp-action="become_a_provider">Become a Helper</a> </li>
                        <li class="nav-item dropdown dropleft">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                                <img src="./images/ic-flag.png" alt="Flag" style="margin-right: 5px;">
                                <i class="fas fa-angle-down"></i>

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#"><img src="./images/ic-flag.png" alt=""><span class="country"> USA</span></a>
                                <a class="dropdown-item" href="#"><img src="./images/ic-flag.png" alt=""><span class="country"> CANADA</span></a>
                                <a class="dropdown-item" href="#"><img src="./images/ic-flag.png" alt=""><span class="country"> INDIA</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-------------main page content-------------------->
        <div class="container-fluid">
            <p class="lorem-main-heading">Lorem ipsum text</p>
            <ul class="ctliststyle01">
                <li><i class="fas fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li><i class="fas fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li><i class="fas fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            </ul>
        </div>

        <div class="container  ctbtn01">
            <a asp-controller="Home" asp-action="book-service" class="btn btn-link book-a-cleaner">Let's Book a Cleaner</a>
        </div>

        <div class="container block02 text-center ">
            <div class="home_block">
                <img src="./images/enter-your-postal-code.png" alt="Enter your postcode">
                <p class="cttitle01">Enter your postcode</p>
            </div>
            <div class="home_block arrow"> <img src="./images/down.png" alt="Down"></div>

            <div class="home_block"> <img src="./images/select-your-plan.png" alt="Select your plan"> <p class="cttitle01">Select your plan</p> </div>
            <div class="home_block arrow"> <img src="./images/up.png" alt="Up"> </div>
            <div class="home_block"> <img src="./images/pay-securly-online.png" alt="Pay securely online"> <p class="cttitle01">Pay securely online</p> </div>
            <div class="home_block arrow"> <img src="./images/down.png" alt="Down"> </div>
            <div class="home_block"> <img src="./images/enjoy-amazing-service.png" alt="Enjoy amazing service"> <p class="cttitle01">Enjoy amazing service</p> </div>
        </div>

        <div class="container ctbtn02 text-center"><a href="#why-helperland-section"><img src="./images/down-arrow-home.png" alt="Down"> </a></div>

     

    </section>
    <section id="why-helperland-section">
        <p class="text-center why-helperland-heading">Why Helperland</p>
        <div class="container justify-content-center">
            <div class="row helperland">
                <div class=" col-xl-4 col-lg-6   text-center">
                    <div>
                        <img src="./images/group-21.png" alt="Professionals">
                    </div>
                    <h3 class="justify-content-center d-flex align-items-center helperland-heading">
                        Experience & Vetted Professionals
                    </h3>
                    <p class="helperland-content">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                </div>

                <div class="col-xl-4 col-lg-6  text-center">
                    <div>
                        <img src="./images/group-23.png" alt="Online Payment">
                    </div>
                    <h3 class="justify-content-center  d-flex align-items-center helperland-heading1">Secure Online Payment</h3>
                    <p class="helperland-content1">Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                </div>

                <div class=" col-xl-4 col-lg-12  text-center justify-content-center">
                    <div>
                        <img src="./images/group-24.png" alt="Customer service">
                    </div>
                    <h3 class="justify-content-center  d-flex align-items-center helperland-heading">Dedicated Customer Service</h3>
                    <p class="helperland-content ">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information.</p>
                </div>
            </div>
    </section>

    <section class="container-fluid" id="blog-section">
        <img class="blogleft" src="./images/blog-left-bg.png" alt="" srcset="">
        <img class="blogright" src="./images/blog-right-bg.png" alt="" srcset="">

        <div class="container">
            <div class="row justify-content-center blog-section-content">

                <div class=" col-lg-6 ">
                    <h2 class="blog-section-first-heading">Lorem ipsum dolor sit amet, consectetur</h2>
                    <p class="blog-section-first-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.</p>
                    <p class="blog-section-first-content">Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.</p>
                    <p class="blog-section-first-content">Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
                </div>
                <div class=" col-lg-6 ">
                    <div class="blog-section-first-img">
                        <center><img src="./images/group-36.png" alt="Blog description"></center>
                    </div>
                </div>


            </div>
        </div>

        <!------------our blog---------------->
        <p class="our-blog-heading">Our Blog</p>

        <div class="row px-0 mx-0 row3">
            <div class="container-fluid px-0 mx-0">
                <div class="row justify-content-lg-center">

                    <div class="col-lg-3 col-md-12 mb-sm-2 mb-lg-0 ">
                        <div class="card shadow">
                            <img class="img-fluid card-img-top" src="images/group-28.png" alt="" width="357px" height="164px">
                            <div class="card-body">
                                <p class="card-title">Lorem ipsum dolor sit amet</p>
                                <p class="card-subtitle">January 28, 2019</p>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus
                                    pulvinar aliquet.
                                </p>
                                <a class="card-link" href="">
                                    Read the post <img class="img-fluid" src="images/shape-2.png" alt=""
                                                       srcset="">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12 mb-sm-2 mb-md-0 ">

                        <div class="card shadow">
                            <img class="img-fluid card-img-top" src="images/group-29.png" alt="" width="357px" height="164px">
                            <div class="card-body">
                                <p class="card-title">Lorem ipsum dolor sit amet</p>
                                <p class="card-subtitle">January 28, 2019</p>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus
                                    pulvinar aliquet.
                                </p>
                                <a class="card-link" href="">
                                    Read the post <img class="img-fluid" src="images/shape-2.png" alt=""
                                                       srcset="">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12 mb-sm-2 mb-md-0 ">

                        <div class="card shadow">
                            <img class="img-fluid card-img-top" src="images/group-30.png" alt="" width="357px" height="164px">
                            <div class="card-body">
                                <p class="card-title">Lorem ipsum dolor sit amet</p>
                                <p class="card-subtitle">January 28, 2019</p>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus
                                    pulvinar aliquet.
                                </p>
                                <a class="card-link" href="">
                                    Read the post <img class="img-fluid" src="images/shape-2.png" alt=""
                                                       srcset="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="what-our-customer-say">
        <p class="what-our-customer-say-heading">What Our Customers Say</p>

        <div class="row px-0 mx-0" id="row2">
            <div class="container-fluid px-0 mx-0">
                <div class="row justify-content-lg-center">

                    <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0">
                        <div class="card row2-card">
                            <img class="img-fluid customer-card-img" src="images/message.png" height="35px" width="33px" alt="">
                            <div class="row px-0 mx-2 ">
                                <div class="col-3 mts-43 ">
                                    <img src="images/avtar1.png" class="img-fluid card-avtar-img" alt="">
                                </div>
                                <div class="col mts-43">
                                    <p class="card-title pt-2">Lary Watson</p>
                                    <p class="card-subtitle">Manchester</p>
                                </div>
                            </div>
                            <div class="card-body px-0 ">
                                <p class="card-text px-0 mx-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                                    metus
                                    pulvinar aliquet consequat. Praesent nec malesuada nibh.<br><br> Nullam et metus congue, auctor augue
                                    sit amet, consectetur tortor.
                                </p>
                                <a class="card-link px-0 mx-3" href="">
                                    Read More <img class="img-fluid" src="images/shape-2.png" alt=""
                                                   srcset="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0">
                        <div class="card row2-card">
                            <img class="img-fluid customer-card-img" src="images/message.png" height="35px" width="33px" alt="">
                            <div class="row px-0 mx-2 ">
                                <div class="col-3 mts-43 text-align-right">
                                    <img src="images/avtar2.png" class="img-fluid card-avtar-img" alt="">
                                </div>
                                <div class="col mts-43">
                                    <p class="card-title pt-2">John Smith</p>
                                    <p class="card-subtitle">Manchester</p>
                                </div>
                            </div>
                            <div class="card-body px-0 ">
                                <p class="card-text px-0 mx-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                                    metus
                                    pulvinar aliquet consequat. Praesent nec malesuada nibh.<br><br> Nullam et metus congue, auctor augue
                                    sit amet, consectetur tortor.
                                </p>
                                <a class="card-link px-0 mx-3" href="">
                                    Read More <img class="img-fluid" src="images/shape-2.png" alt=""
                                                   srcset="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0">
                        <div class="card row2-card">
                            <img class="img-fluid customer-card-img" src="images/message.png" height="35px" width="33px" alt="">
                            <div class="row px-0 mx-2 ">
                                <div class="col-3 mts-43 text-align-right">
                                    <img src="images/avtar3.png" class="img-fluid card-avtar-img" alt="">
                                </div>
                                <div class="col mts-43">
                                    <p class="card-title pt-2">Lars Johnson</p>
                                    <p class="card-subtitle">Manchester</p>
                                </div>
                            </div>
                            <div class="card-body px-0 ">
                                <p class="card-text px-0 mx-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                                    metus
                                    pulvinar aliquet consequat. Praesent nec malesuada nibh.<br><br> Nullam et metus congue, auctor augue
                                    sit amet, consectetur tortor.
                                </p>
                                <a class="card-link px-0 mx-3" href="">
                                    Read More <img class="img-fluid" src="images/shape-2.png" alt=""
                                                   srcset="">
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!------news letter and clock and up arrow part---------------->
        <div class="container">
            <div class="row " style="margin-bottom: 40px;">
                <div class="col-md-1 col-sm-2 order-sm-1 col-6 order-2">
                    <a href="#main-page">
                        <img src="./images/forma-1.png" class="up-arrow-main-page">
                    </a>
                </div>
                <div class="col-md-10 col-sm-8 order-sm-2 order1">
                    <div class="text-center" style="margin-top: 38px;">
                        <span class="newsletter ">  GET OUR NEWSLETER</span>
                        <div class="d-flex justify-content-center d-wrap mt-2">
                            <input type="text" value="YOUR EMAIL" placeholder="YOUR EMAIL " class="rounded-pill align-items-left pl-3 emailbox">
                            <input type="submit" value="submit" class="btn rounded-pill text-center mx-2 submit-button">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-2 order-sm-3 col-6 order-2">
                    <img src="./images/watch.png" class="watch">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class=" footerall">
            <div class="container d-flex justify-content-between align-items-center py-4 footer1">
                <div>
                    <a href="#"><img src="./images/logo.png" class="footer-logo"></a>
                </div>

                <nav class="nav mx-5">
                    <ul class="nav mx-5">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link foot">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="aboutus" class="nav-link foot">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link foot">TESIMONIALS</a>
                        </li>
                        <li class="nav-item">
                            <a  asp-area="" asp-controller="Home" asp-action="faq" class="nav-link foot">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link  foot">INSURANCE POLICY</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link foot">IMPRESSUM</a>
                        </li>
                    </ul>
                </nav>

                <!-- logo of instagram and facebook -->
                <div class="mx-4">
                    <a class="px-2" href="#" style="color: #ffffff;"><i class="fab fa-facebook-f"></i></a>
                    <a class="px-2" href="#" style="color: #ffffff;"><i class="fab fa-instagram"></i></a>
                </div>

            </div>





            <!-- privacy content -->
            <div class=" text-center mb-0 py-3 privacy" style="background-color: #292929; height: 64px;">
                <p class="mb-0 py-2 d-inline">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac malesuada ligula aliquam ac.
                    <a href="#" class="privacy" style="color:#6EABEF;">&nbsp;Privacy Policy</a>
                </p>

                <button type="button" class="Ok-button">OK!</button>

            </div>

        </div>

    </footer>
    <script src="./js/jquery-3.6.0.js"></script>
    <script type="text/javascript">
$(window).scroll(function () {
  var sticky = $("#header")
    scroll = $(window).scrollTop();

  if (scroll > 64) {
  sticky.addClass("fixed");
    $(".navbar-brand img").height(54).width(73);
    $(".navbar").css("background", "rgba(82, 82, 82, 0.8)");
    $(".bl").css("background","#29626d");
  ;}
  else {
    sticky.removeClass("fixed");
    $(".navbar-brand img").height(102).width(138);
    $(".navbar").css("background", "transparent");
    $(".bl").css("background","transparent");
  }
});
    </script>

    <script src="./js/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="./js/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="./js/bootstrap.min.js"></script>

</body>
</html>
