@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body { font-family: 'Roboto', sans-serif;}



*{
	margin: 0px;
	padding: 0px;

}
.fixed{
	position: fixed;
    top: 0;
    width: 100%;
}



.navbar-inner {
	background: transparent;
	z-index: 999;
}
.ctnav ul li a {
	color: #fff !important;
}

.ctborder {
	border: 1px solid;
	border-radius: 40px;
	padding-top: 13px;
	padding-bottom: 13px;

}

.ctbuttoncolor
{
	background-color: #29626d;

}
.dropdown-menu{
 background:white;

}

.country{
    color: black !important;
}

@media(max-width: 992px)
{
	.navbar-toggler {
	border-color: #fff !important;
    

}
.navbar-light .navbar-toggler {
	color: #fff;
}
.nav-item
{
 padding: 0px !important;
}
.ctborder {
	border: none;
	border-radius: 0;
}
.navbar-nav {
	background-color: #fff;
}
.ctnav ul li a {
	color: #555 !important;
}
.ctnav ul li a:hover {
	color: #000 !important;
}
.ctnav ul li a {
	color: #555 !important;
	margin: 5px 15px;
	margin-right: 15px;
	padding: 5px;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom: 1px solid #cecece;
}
.ctnav a 
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.ctbuttoncolor
{
   background-color: white !important;
}
.ctbtn01 {
	margin-top: 25px;
}

}
.main
{
	overflow-x: hidden;
}


/******************** Service Provider ******************************/
/**************Form************************/
.service-provider-form
{
 width: 460px;
 max-height: 664px;
 
}
@media (max-width: 576px)
{
   .service-provider-form
   {
   	width: 320px !important;

   }
   .form1 ,.mobile-no
   {
   	width: 280px !important;
   	margin-left: 5px !important;

   }
   .checkbox
   {
   	margin-left: 5px !important;
   }
   .checkbox-label
   {
   	font-size: 12px !important;
   }
   .get-started
   {
   	margin-left: 50px !important;
   }
  .g-recaptcha
  {
  	margin-left: 5px !important;
  	width: 280px !important;
  }
  .how-work
  {
  	text-align: center !important;
  }
}
@media(max-width: 768px)
{
	.how-work
  {
  	text-align: center !important;
  }
  #how-work-1
  {
  	order: 2 !important;
  }
  #how-work-2
  {
  	order: 1 !important;
  }
}
@media(max-width: 992px)
{
	.second
	{
		margin-left: 10%;
	}
}
.form-head
{
	color: #4F4F4F;
	font-size: 24px;
	font-weight: bold;
	margin-top: 19px;
	margin-bottom: 24px;
}
.form1
{
	width: 359px;
	height: 46px;
	border-radius: 5px;
	border: 1px solid #C8C8C8;
	color: #A0A0A0;

	margin-left: 36px;
	margin-bottom: 15px;
	padding-left: 14px;

}


.mobile-no
{
	border: 1px solid #646464;
	border-radius: 5px; 
	width: 359px;
	 margin-right: 35px;
	 margin-left: 36px;
	  margin-bottom: 15px;
}
.checkbox{
	width:20px;
	 height: 20px;
	 margin-left: 36px;
}
.checkbox-label
{
	font-size: 16px;
	color: #4F4F4F;

}
.g-recaptcha
{
	margin-left: 36px;
}
.get-started{
	border-radius: 46px;
	background-color: #1D7A8C;
	font-weight: bold;
	border: none;
	width: 166px;
	height: 46px;
	margin-top: 15px;
	font-size: 16px;
	padding-left: 27px;
	margin-bottom: 19px;
	color: white;
	margin-left: 132px;
}

.arrow
{
	margin-top: 40px;
	margin-bottom: 30px;
}
#section2
{
	position: relative;
}
.blogleft{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
 
}

.blogright {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
 
}


.how-it-works-heading
{
	font-size: 40px;
	color: #4f4f4f;
	margin-top: 68px;
	margin-bottom: 78px;
}
.how-it-work-content-heading
{
	font-size: 30px;
	color: #4f4f4f;
	font-weight: bold;
	margin-top: 30px;

}
.how-it-work-content
{
	font-size: 18px;
	color: #4f4f4f;
	margin-top: 16px;
	margin-bottom: 48px;
}



.newsletter
{
	font-size: 18px; 
	font-family: 'Roboto';
}
.emailbox
{
	width: 233px;
	font-size: 14px; 
	color: #565656; 
	border: 1px solid #565656;
}
.submit-button
{
	background-color: #FF7B6D;
	font-size: 14px; 
	color:white;
}
.footerall
{
	background: #111111;
}
.footer1
{
	flex-wrap: wrap;
}
.footer-logo
{
	width: 106px;
}
.privacy
{
	color: #9ba0a3;
	 text-decoration: none;
	
}
.foot
{
	color: #f1f1f1;
}
.footer-line
{
	width: 80%;
	background-color: #8c8c8c;
}
@media(max-width: 576px)
{
	footer .container{
        text-align: center!important;
    }
}
@media (max-width: 992px) 
{
footer.container{
        justify-content: center!important;
    }
    footer nav ul{
        display: inline-block!important;
    } 
}
@media (max-width: 1200px) {
	
 footer .container{
        justify-content: center !important;
    }

}
/**************************************upcoming service provider page****************************/


#icon-notification
{
	border-left:1px solid white;
	border-right: 1px solid white;
	 padding-left: 0.2%;
	 padding-right: 0.1%; 
	 padding-top: 5px;
	  padding-bottom: 5px;
}
.dropdown-for-avtar
{
   min-width: 50px; 
   background-color: grey; 
   color: black; 
   font-size: 14px;"
}

@media(max-width:992px)
{
	
	.dropdown-for-avtar
	{
		width: 160px !important;
		text-align: center !important;
		font-size: 16px !important;

	}
	#icon-notification
	{
	
		padding-left: 10px !important;
	}
	/*#collapse-button
	{
		order:3 !important;
	}
	#avtar-symbol
	{
		order:2 !important;
	}*/
}
li { list-style: none; }

.Welcome-section
{
	margin-top: 40px;
}
.Welcome-section-heading
{
	font-size: 30px;
	text-align: center;
}
.Welcome-section-line
{
	background-color: #F9F9F9;
	margin-top: 43px;
}
.side-menu
{
	background-color: #1D7A8C;
	max-height: 712px;
	margin-top: 31px;
	padding-left: 0px;
	padding-right: 0px;

}

	
.side-menu-line
{
   background-color: #F9F9F9;
   margin: 0px;
  opacity: 0.2;
}
.side-menu-content
{
	font-size: 18px;

	height: 54px;
}
@media(max-width: 992px)
{
	.side-menu-content
	{
		height: auto !important;
	}
}
 .side-menu a:hover
{
	background-color: #146371;
}
/************table*****************/

#Upcoming-Service-Provider-table
{
	overflow-x: auto;
	overflow-y: auto;
}
  
.main-table-of-upcoming-page tr
{ 
	border-bottom: 1px solid #E1E1E1;
}
.main-table-of-upcoming-page
{
	border: 1px solid #E1E1E1;
	border-collapse: collapse;
	margin-left: 32px;
	margin-top: 31px;
	font-size: 16px;
	width: 800px;

	color: #646464;
}
/* this code is for remove table scrollbar*/
@media(max-width: 1200px)
{ 
	.main-table-of-upcoming-page
	{
	width:650px !important;
    }
}
@media(max-width: 992px)
{
	.main-table-of-upcoming-page
	{
	width:600px !important;
    }
}
/*@media (max-width: 992px) {
  	#upcoming-main-section .container{
    	width: 100% !important;
  	}
}*/


/* this code is for remove table scrollbar-complete*/
.table-heading 
{
	background-color: transparent;
	
	font-weight: bold;
	height: 49px;
}
.table-data
{
   height: 71px;

}
.cancel-button
{
	color: white;
	background-color:#FF6B6B ;
	border-radius: 17px;
	border: none;
	width: 80px;
	height: 34px;
	 

}
.sub-menu-nav-navbar
{
   content-visibility: hidden;
}

.card-view
 {
 	content-visibility :hidden;


 }
 .card-view .card{
       margin-bottom: 20px;
       font-size: 18px;
 }
 
 .card-view .card-header .card-footer
 {
 	background-color: white;
 }
 
@media(max-width: 768px)
{  
	.sub-menu-nav-navbar
	{
	 content-visibility : visible !important;
	 background-color: white !important;
	}

	.below-side-menu
	{
		content-visibility: hidden !important;
	}
	.card-view
    {
 	content-visibility :visible !important;

   }
   #Upcoming-Service-Provider-table
   {
   	 display: none !important;
   }
   #avtar-symbol
   {
   	display: none !important;

   }
   
}
.card-upcoming-detail-heading
{
	font-size: 30px;
	color: #4f4f4f;
	margin-bottom: 20px;
}
/**************************************************Customer service history page start******************************/
#customer-service-history
{
	margin-top: 37px;

}
.Service-history-heading
{
	font-size: 22px;
	color: #646464;
	font-weight: bold;
}
.export-button
{
	color: white;
	font-size: 14px;
	width: 70px;
	height: 34px;
	border-radius: 17px;
	border: none;
	background-color: #146371;
    float: right;
}
.customer-history-table
{
	overflow-x: auto;
	overflow-y: auto;
}
.main-table-of-customer-service-history
{
	border: 1px solid #E1E1E1;
	border-collapse: collapse;
	margin-left: 15px;
	margin-top: 6px;
	font-size: 16px;
	width: 812px;

	color: #646464;
	

}
.main-table-of-customer-service-history tr 
{
   border-bottom: 1px solid #E1E1E1;
}
.customer-table-heading
{
	background-color: transparent;
	font-weight: bold;
	height: 49px;
}
.customer-table-data
{
	height: 86px;
}
.service-detail
{
	padding-left: 18px;
}
.cap 
{
	border: 1px solid #aaaaaa;
	border-radius: 44px;
	padding: 12px 7px 12px 7px;
	margin-top: 25px;
}
.rating-star
{
	margin-top: -20px;
	margin-left: 50px;
}

.euro-currency
{
	font-size: 20px;
    color: #1d7a8c;
    margin-top: 25px;
}
.rupee
{
	font-size: 24px;
	
}
.completed-button
{
	font-size: 13px;
	color: white;
	background-color: #67b644;
	width: 82px;
	height:22px;
	border: none;
}
.cancelled-button
{
	font-size: 13px;
	color: white;
	background-color: #FF6B6B;
	width: 76px;
	height:22px;
	border: none;
}
.Rate-sp-button
{
	font-size: 14px;
	background-color: #6DA9B5;
	color: white;
	border-radius: 17px;
	border: none;
	width: 70px;
	height: 34px;
}
@media(max-width: 768px)
{
	#customer-service-history
	{
		content-visibility: hidden !important;
	}
	.below-customer-side-menu
	{
		display: none !important;
	}
}
/************************************Pagination and record portion*************************************/
.record-part
{
	color: #646464;
	font-size: 14px;
	margin-top: 21px;
}
 .content-button
 {
 	border: 1px solid #E1E1E1;
 	border-radius: 4px;
 	width: 62px;
 	margin-left: 10px;
 	margin-right: 10px;
 	color: #646464;
 	font-size: 14px;
 }
 .page-link
 {
 	border: 1px solid #E1E1E1;
 	border-radius: 38px;
 	margin-left: 3px;
 	height: 38px;
 	width: 38px;
 }
 .pagination
 {
 	margin-top: 21px;

 }
 .active-link
 {
 	background-color: #1D7A8C !important;
 }
 .image-rotation
 {
 	transform: rotate(180deg);
 }
 .first-page-img
 {
 	border-radius: 38px !important;
 }

 
