@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.admin-header {
    font-size: 38px;
    color: white;
}

.admin-navbar {
    background-color: #1FB6FF;
}

.admin-name {
    font-size: 16px;
    color: white;
    margin-left: 7px;
}

.admin-user {
    margin-top: 16px;
    margin-bottom: 12px;
}

.logout {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.admin-side-menu {
    background-color: white;
    box-shadow: 2px 0px 6px #0000001A;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}

.admin-side-menu-content {
    font-size: 16px;
    color: #646464;
}

.admin-arrow {
    transform: rotate(270deg);
    float: right;
    margin-top: 10px;
}

.card-link {
    font-size: 16px;
    color: #646464;
}

.admin-side-menu-line {
    background-color: #E5E5E5;
    margin: 0px;
}

.User-managment-heading {
    font-size: 22px;
    font-weight: bold;
    color: #646464;
}

.add-new-user-btn {
    background-color: #1FB6FF;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 4px;
    height: 36px;
    width: 132px;
    float: right;
}

.search-user-box {
    max-width: 1100px;
    height: 86px;
    border: 1px solid #E1E1E1;
    margin-left: 15px;
    margin-top: 14px;
    background-color: white;
}

.first-col {
    height: 46px;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #DEDDDD;
    border-radius: 4px;
    font-size: 16px;
    color: #A0A0A0;
}

.user-form1 {
    width: 180px;
}

.user-form2 {
    width: 200px;
}

.user-form3 {
    width: 120px;
}

.user-search-button {
    width: 80px;
    background-color: #1FB6FF;
    color: white;
}

.user-clear-button {
    width: 80px;
    background-color: white;
}

.user-table {
    width: 1100px;
    margin-left: 30px;
    margin-top: 20px;
    color: #646464;
    border: 1px solid #E1E1E1;
    background-color: white;
}

.first-column {
    padding-left: 10px;
}

.user-table-heading {
    height: 56px;
    border-bottom: 1px solid #E1E1E1;
}

.user-table-data {
    height: 64px;
    border-bottom: 1px solid #E1E1E1;
}

.user-active-button {
    font-size: 13px;
    border: none;
    height: 24px;
    width: 58px;
    color: white;
    background-color: #67b644;
}

.user-inactive-button {
    font-size: 13px;
    border: none;
    height: 24px;
    width: 62px;
    color: white;
    background-color: #FF6B6B;
}

.record-part {
    color: #646464;
    font-size: 14px;
    margin-top: 21px;
}

.content-button {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    width: 62px;
    margin-left: 10px;
    margin-right: 10px;
    color: #646464;
    font-size: 14px;
}

.active-link {
    background-color: #646464 !important;
}

.image-rotation {
    transform: rotate(180deg);
}

.pagination {
    margin-top: 21px;
    float: right;
    margin-right: 20px;
}

.admin-footer {
    font-size: 14px;
    color: #A2A6A8;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.side-toggle-bar {
    content-visibility: hidden;
}

@media(max-width:1200px) {
    .side-toggle-bar {
        content-visibility: visible !important;
    }

    .admin-side-menu {
        display: none;
    }
}

@media(max-width: 932px) {
    .search-user-box {
        height: 170px !important;
        justify-content: center !important;
    }
}


/****************************************admin-service request page*********************************************/
.second-col {
    height: 46px;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #DEDDDD;
    border-radius: 4px;
    font-size: 16px;
    color: #A0A0A0;
}

.Customer-form {
    width: 100px;
}

.Customer-form1 {
    width: 140px;
}

.Customer-form3 {
    width: 140px;
}

.search-user-box1 {
    max-width: 1100px;
    height: 86px;
    border: 1px solid #E1E1E1;
    margin-left: 15px;
    margin-top: 14px;
    background-color: white;
}

@media(max-width: 1000px) {
    .search-user-box1 {
        height: 170px !important;
        justify-content: center !important;
    }
}

.cap {
    border: 1px solid #aaaaaa;
    border-radius: 44px;
    padding: 12px 7px 12px 7px;
}

.rating-star {
    margin-top: -20px;
    margin-left: 50px;
}

.user-new-button {
    font-size: 13px;
    border: none;
    height: 24px;
    width: 45px;
    color: white;
    background-color: #F2BB37;
}

.user-pending-button {
    font-size: 13px;
    border: none;
    height: 24px;
    width: 62px;
    color: white;
    background-color: #1FB6FF;
}

.user-completed-button {
    font-size: 13px;
    border: none;
    height: 24px;
    width: 70px;
    color: white;
    background-color: #67B644;
}

.user-cancelled-button {
    font-size: 13px;
    border: none;
    height: 24px;
    width: 70px;
    color: white;
    background-color: #FF6B6B;
}
