@model Helperland.ViewModels.ProfileViewModel
@*@using LoginPage.ViewModels
    @model ProfileViewModel*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Profile</title>


    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/Customer.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<style type="text/css">
    .active-tab {
        border-bottom: 3px solid #1d7a8c !important;
    }
</style>
<body>
    <header class="main1" id="header">
        <nav class="navbar navbar-expand-lg navbar-light navbar-inner bg-secondary ctnav ">
            <a class="navbar-brand" href="homepage.html"> <img src="~/images/logo-small.png" width="78px" height="54px" alt="Logo"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" id="collapse-button"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse ctnav " id="navbarNavDropdown">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item"> <a class="nav-link mr-2 " href="price.html">Price & services</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="#">Warrenty</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="#">Blog</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="contact.html">Contact</a> </li>

                </ul>
            </div>


            <div class="nav-item" id="icon-notification"> <a class="nav-link mr-2 " href="#"><img src="~/images/icon-notification.png"></a> </div>

            <div class="nav-item dropdown " id="avtar-symbol">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="~/images/admin-user.png">
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="min-width: 50px; background-color: grey; color: black; font-size: 14px;">
                    <a class="dropdown-item" href="#">Setting</a>
                    <a class="dropdown-item" href="#">Log out</a>

                </div>
            </div>
        </nav>
    </header>
    <header class="main2" id="header" style="z-index: 1000;">
        <nav class="navbar navbar-expand-lg navbar-light navbar-inner bg-secondary ctnav ">
            <a class="navbar-brand" href="homepage.html"> <img src="~/images/logo-small.png" width="78px" height="54px" alt="Logo"> </a>
            <div class="nav-item" id="icon-notification"> <a class="nav-link mr-2 " href="#"><img src="~/images/icon-notification.png"></a> </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" id="collapse-button"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse ctnav " id="navbarNavDropdown1">
                <ul class="nav flex-column sub-menu-nav-navbar">
                    <li class="nav-item ">
                        <a class="nav-link text-white side-menu-content" href="#">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white side-menu-content" href="#customer-service-history">Service History</a>
                    </li>


                    <li class="nav-item ">
                        <a class="nav-link  text-white side-menu-content" href="#">Service Schedule</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link text-white side-menu-content " href="#">Favourite Pros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white side-menu-content " href="#">Invoices</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white side-menu-content " href="#">Notifications</a>
                    </li>


                </ul>
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item"> <a class="nav-link mr-2 " href="price.html">Price & services</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="#">Warrenty</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="#">Blog</a> </li>
                    <li class="nav-item"> <a class="nav-link mr-2" href="contact.html">Contact</a> </li>

                </ul>
            </div>

        </nav>
    </header>
    <section class="Welcome-section">
        <h1 class="Welcome-section-heading">Welcome,<b>@ViewBag.FirstName</b></h1>
        <div class="Welcome-section-line">
            <hr>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 side-menu below-customer-side-menu" style="max-height: 1032px;">
                    <ul class="nav flex-column ">
                        <li class="nav-item ">
                            <a class="nav-link text-white side-menu-content" href="#">Dashboard</a>
                        </li>
                        <hr class="side-menu-line">
                        <li class="nav-item">
                            <a class="nav-link text-white side-menu-content" href="#customer-service-history">Service History</a>
                        </li>

                        <hr class="side-menu-line">
                        <li class="nav-item ">
                            <a class="nav-link  text-white side-menu-content" href="#">Service Schedule</a>
                        </li>
                        <hr class="side-menu-line">
                        <li class="nav-item ">
                            <a class="nav-link text-white side-menu-content " href="#">Favourite Pros</a>
                        </li>
                        <hr class="side-menu-line">
                        <li class="nav-item">
                            <a class="nav-link text-white side-menu-content " href="#">Invoices</a>
                        </li>
                        <hr class="side-menu-line">
                        <li class="nav-item">
                            <a class="nav-link text-white side-menu-content " href="#">Notifications</a>
                        </li>
                        <hr class="side-menu-line">

                    </ul>
                </div>
                <div class="col-sm-9">

                    <ul class="row " style="margin-left: 15px;">
                        <li class=" col-sm-4 customerprofile active-tab" id="tab1"><a onclick="Tab1Click()"><p style="text-align: center;">My Details</p></a></li>
                        <li class="tab col-sm-4 customerprofile" id="tab2"><a onclick="Tab2Click()"><p style="text-align: center;">My Addresses</p></a></li>
                        <li class="tab col-sm-4 customerprofile" id="tab3"><a onclick="Tab3Click()"><p style="text-align: center;">Change Password</p></a></li>

                    </ul>
                    <div>

                        <div id="tabContent1">
                            <form asp-action="MyProfile" asp-controller="Customer" method="post">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="add-new-button-label">First Name:</label>
                                        <input asp-for="firstname" id="firstname" placeholder="First Name" class="form11">
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="add-new-button-label">Last Name:</label>
                                        <input asp-for="lastname" id="lastname" placeholder="Last Name" class="form11">
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="add-new-button-label">Email Address:</label>
                                        <input asp-for="email" id="email" placeholder="Email" class="form11" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="add-new-button-label">Mobile Number</label>
                                        <div class="input-group form12">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1" style="height:46px;">+49</span>
                                            </div>
                                            <input asp-for="Mobile" id="mobile" class="form-control " placeholder="Mobile number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" style="height:46px;">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="add-new-button-label">Birthdate:</label>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div>
                                                    <select asp-for="BirthDate" id="birthdate" class="birthdate">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div>
                                                    <select asp-for="BirthMonth" id="birthmonth" class="birthdate">
                                                        <option value="June">June</option>
                                                        <option value="July">July</option>
                                                        <option value="August">August</option>
                                                        <option value="September">September</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div>
                                                    <select asp-for="BirthYear" id="birthyear" class="birthdate">
                                                        <option value="1991">1991</option>
                                                        <option value="1992">1992</option>
                                                        <option value="1993">1993</option>
                                                        <option value="1994">1994</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>

                                <hr style="color: #4f4f4f; margin-top: 30px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="add-new-button-label">My Preffered Language:</label>
                                        <select name="PrefferedLanguage" class="birthdate">
                                            <option value="English">English</option>
                                            <option value="Hindi">Hindi</option>
                                        </select>
                                    </div>
                                </div>

                                <div>
                                    <button type="button" class="savecomputer-btn" onclick="MyProfile();">Save On Computer</button>
                                </div>

                            </form>
                        </div>


                        <div id="tabContent2" style="display: none ;">

                            <div id="address"></div>
                            @*@await Html.PartialAsync("MyAddress.cshtml")*@


                        </div>
                        <div id="tabContent3" style="display: none ;">
                            <form method="post" asp-action="UpdatePassword" asp-controller="Customer">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="add-new-button-label">Old Password:</label>
                                        <input type="Password" asp-for="OldPassword" placeholder="Current Password" id="op" class="form11">
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>


                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="add-new-button-label">New Password:</label>
                                        <input type="Password" asp-for="Password" placeholder="Password" id="np" class="form11">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="add-new-button-label">Repeat Password:</label>
                                        <input type="Password" asp-for="ConfirmPassword" placeholder="Repeat Password" class="form11">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        <span class="text-danger">@TempData["Message"]</span>
                                    </div>
                                </div>

                                <div>
                                    <button type="submit" class="savecomputer-btn" style="background-color:#6DA9B5 ;">Save On Computer</button>
                                </div>
                            </form>
                        </div>


                    </div>


                </div>
            </div>
        </div>

    </section>
    <footer>
        <div class="mt-5 footerall">
            <div class="container d-flex justify-content-between align-items-center py-4 footer1 ">
                <div>
                    <a href="#"><img src="~/images/logo.png" class="footer-logo"></a>
                </div>

                <nav class="nav mx-5">
                    <ul class="nav mx-5">
                        <li class="nav-item">
                            <a href="homepage.html" class="nav-link foot ">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a href="aboutus.html" class="nav-link foot  ">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link foot ">TESIMONIALS</a>
                        </li>
                        <li class="nav-item">
                            <a href="faq.html" class="nav-link foot ">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link foot">INSURANCE POLICY</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link foot">IMPRESSUM</a>
                        </li>
                    </ul>
                </nav>

                <!-- logo of instagram and facebook -->
                <div class="mx-4">
                    <a class="px-2" href="#" style="color: #ffffff;"><i class="fab fa-facebook-f"></i></a>
                    <a class="px-2" href="#" style="color: #ffffff;"><i class="fab fa-instagram"></i></a>
                </div>

            </div>



            <!-- line -->

            <div class="d-flex justify-content-center  ">
                <hr class="footer-line">
            </div>

            <!-- line done -->
            <!-- privacy content -->
            <div class=" text-center mb-0 py-3 privacy">
                <p class="mb-0 py-2 d-inline" style="color: #9BA0A3">
                    ©2018 Helperland. All rights reserved.&nbsp; Terms and Conditions &nbsp;
                    <a href="#" class="privacy"> Privacy Policy</a>
                </p>
            </div>
        </div>
    </footer>



    <script type="text/javascript">
        function Tab1Click() {


            $("#tab1").addClass("active-tab");
            $("#tab2").removeClass("active-tab").addClass("customerprofile");
            $("#tab3").removeClass("active-tab").addClass("customerprofile");


            $("#tabContent2").hide();
            $("#tabContent3").hide();

            $("#tabContent1").show();

            //$.get("/Customer/MyProfile", null, function (data) {

            //    $("#firstname").val(data.first);

            //    $("#lastname").val(data.last);

            //    $("#email").val(data.mail);
            //});

            // var img = document.getElementById("setup");
            // img.src = "~/images/setup-service-white.png";

        }

        function MyProfile() {
            var data = {};

            data.firstname = $("#firstname").val();
            data.lastname = $("#lastname").val();
            data.Mobile = $("#mobile").val();
            data.DateOfBirth = $("#birthdate").val() + "-" + $("#birthmonth").val() + "-" + $("#birthyear").val();


            $.ajax({
                type: 'POST',
                url: '/Customer/MyProfile',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',

                data: data,
                success: function (result) {
                    if (result.value == "true") {
                        alert('Successfully!Updated Data!');
                       
                    }
                },
                error: function () {
                    alert('Failed to update Data');
                    console.log('Failed ');
                }
            })

        }
        function Tab2Click() {


            $("#tab2").addClass("active-tab");
            $("#tab1").removeClass("active-tab").addClass("customerprofile");
            $("#tab3").removeClass("active-tab").addClass("customerprofile");
             $("#address").load('@Url.Action("MyAddress","Customer")');


            $("#tabContent1").hide();
            $("#tabContent3").hide();

            $("#tabContent2").show();



        }
        function Tab3Click() {


            $("#tab3").addClass("active-tab");
            $("#tab1").removeClass("active-tab").addClass("customerprofile");
            $("#tab2").removeClass("active-tab").addClass("customerprofile");


            $("#tabContent1").hide();
            $("#tabContent2").hide();

            $("#tabContent3").show();



        }

      
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</body>
</html>
