@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body { font-family: 'Roboto', sans-serif;}

*
{
	margin: 0px;
	padding: 0px;
}
.navbar-inner {
	background: transparent;
	z-index: 999;
}
.ctnav ul li a {
	color: #fff !important;
}
.ctborder {
	border: 1px solid;
	border-radius: 40px;
	padding-top: 13px;
	padding-bottom: 13px;

}


.ctliststyle01 {
	margin: 0px;
	padding: 0 5px;
	list-style: none;
}
.block01 {
	color: #fff;
	top: 50%;
	position: absolute;
}
.ctbtn01 {
	text-align: center;
}
.ctbtn01 a {
	border: 1px solid #fff;
	background-color: #23606C;
	color: #fff;
	text-decoration: none;
	border-radius: 50px;
	opacity: 0.7;
}
.ctbtn01 a:hover {
	text-decoration: none;
	background-color: #31636F;
	color: #fff;
}
.dropdown-menu{
 background:transparent;
}

.dropdown-item {
    color: white;
}


/******************** Service Provider ******************************/
/**************Form************************/

.service-provider-form
{
 width: 460px;
 max-height: 664px;
 
}
@media (max-width: 576px)
{
   .service-provider-form
   {
   	width: 320px !important;

   }
   .form1 ,.mobile-no
   {
   	width: 280px !important;
   	margin-left: 5px !important;

   }
   .checkbox
   {
   	margin-left: 5px !important;
   }
   .checkbox-label
   {
   	font-size: 12px !important;
   }
   .get-started
   {
   	margin-left: 50px !important;
   }
  .g-recaptcha
  {
  	margin-left: 5px !important;
  	width: 280px !important;
  }
  .how-work
  {
  	text-align: center !important;
  }
}
@media(max-width: 768px)
{
	.how-work
  {
  	text-align: center !important;
  }
  #how-work-1
  {
  	order: 2 !important;
  }
  #how-work-2
  {
  	order: 1 !important;
  }
}
@media(max-width: 992px)
{
	.second
	{
		margin-left: 10%;
	}
}
.form-head
{
	color: #4F4F4F;
	font-size: 24px;
	font-weight: bold;
	margin-top: 19px;
	margin-bottom: 24px;
}
.form1
{
	width: 359px;
	height: 46px;
	border-radius: 5px;
	border: 1px solid #C8C8C8;
	color: #A0A0A0;

	margin-left: 36px;
	margin-bottom: 15px;
	padding-left: 14px;

}


.mobile-no
{
	border: 1px solid #646464;
	border-radius: 5px; 
	width: 359px;
	 margin-right: 35px;
	 margin-left: 36px;
	  margin-bottom: 15px;
}
.checkbox{
	width:20px;
	 height: 20px;
	 margin-left: 36px;
}
.checkbox-label
{
	font-size: 16px;
	color: #4F4F4F;

}
.g-recaptcha
{
	margin-left: 36px;
}
.get-started{
	border-radius: 46px;
	background-color: #1D7A8C;
	font-weight: bold;
	border: none;
	width: 166px;
	height: 46px;
	margin-top: 15px;
	font-size: 16px;
	padding-left: 27px;
	margin-bottom: 19px;
	color: white;
	margin-left: 132px;
}

.arrow
{
	margin-top: 40px;
	margin-bottom: 30px;
}
#section2
{
	position: relative;
}
.blogleft{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
}

.blogright {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
 
}


.how-it-works-heading
{
	font-size: 40px;
	color: #4f4f4f;
	margin-top: 68px;
	margin-bottom: 78px;
}
.how-it-work-content-heading
{
	font-size: 30px;
	color: #4f4f4f;
	font-weight: bold;
	margin-top: 30px;

}
.how-it-work-content
{
	font-size: 18px;
	color: #4f4f4f;
	margin-top: 16px;
	margin-bottom: 48px;
}



.newsletter
{
	font-size: 18px; 
	font-family: 'Roboto';
}
.emailbox
{
	width: 233px;
	font-size: 14px; 
	color: #565656; 
	border: 1px solid #565656;
}
.submit-button
{
	background-color: #FF7B6D;
	font-size: 14px; 
	color:white;
}
.footerall
{
	background: #111111;
}
.footer1
{
	flex-wrap: wrap;
}
.footer-logo
{
	width: 106px;
}
.privacy
{
	color: #9ba0a3;
	 text-decoration: none;
	
}
.foot
{
	color: #f1f1f1;
}
@media(max-width: 576px)
{
	footer .container{
        text-align: center!important;
    }
}
@media (max-width: 992px) 
{
footer.container{
        justify-content: center!important;
    }
    footer nav ul{
        display: inline-block!important;
    } 
}
@media (max-width: 1200px) {
	
 footer .container{
        justify-content: center !important;
    }

}
