.index {
	height: 1000vh;
	min-height: 600px;
	background-image: url('../images/main-bg-slider.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.hidden-spacer {
	height: 56px
}
.navbar-inner {
	background: transparent;
	z-index: 999;
}
.ctnav ul li a {
	color: #fff !important;
}
.ctborder {
	border: 1px solid;
	border-radius: 20px;
	padding: 4px;
}
.ctliststyle01 {
	margin: 0px;
	padding: 0 5px;
	list-style: none;
}
.block01 {
	color: #fff;
	top: 50%;
	position: absolute;
}
.ctbtn01 {
	text-align: center;
}
.ctbtn01 a {
	border: 1px solid #fff;
	background-color: #23606C;
	color: #fff;
	text-decoration: none;
	border-radius: 50px;
	opacity: 0.7;
}
.ctbtn01 a:hover {
	text-decoration: none;
	background-color: #31636F;
	color: #fff;
}
.home_block {
	display: inline-block;
}
.home_block img {
	display: block;
	margin: 0 auto;
}
.home_block .arrow {
	padding: 25px 15px;
}
.home_block.arrow img {
	margin: 25px 10px;
}
.ctbtn02 img {
	border: 1px solid;
	margin: 5% auto;
	padding: 10px;
	border-radius: 50%;
}
/*********************************************faq*****************************************/
.faqbutton
{
	
	text-align: center;
	

}
.accordionheader
{
	font-size: 16px;
	font-weight: bold;
	color: #646464;
	border: none;
	background-color: none;
}
.accordioncontent
{
   font-size: 16px;
   font-style: regular;
   color: #646464;
}
/*********************************************prices*****************************************/
.ctbuttoncolor
{
	background-color: #29626d;

}
.pricecard
{
	width: 553px;
	margin-top: 42px;
	height: 304px;
	border: 1px solid #B0C9CE;
	margin-bottom: 51px;
}
.pricecardhead
{
	background-color: #1D7A8C;
	text-align: center;
	font-size: 28px;
	color: white;

}

.pricelist
{
	list-style: none;
	padding-left: 151px;
	font-size: 16px;
	color: #646464;
}

.price-block{
	display: inline-block;

	

}
.price-block1
{
	margin-right: 109px;
}
.price-block img {
     display: block;
	margin: 0 auto;
	
}
.pricetitle
{
	color: #646464;
	font-size: 16px;
}
.what-we-cleaning
{
	width: 360px;
	margin-right: 30px;
}



/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
.home_block {
	width: 100%;
}
.index {
	background-size: cover !important;
	height: 200vh !important;

}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
.index{
	background-size: auto;
	height: 500vh;
}
.navbar-toggler {
	border-color: #fff !important;
}
.navbar-light .navbar-toggler {
	color: #fff;
}
.ctborder {
	border: none;
	border-radius: 0;
}
.navbar-nav {
	background-color: #fff;
}
.ctnav ul li a {
	color: #555 !important;
}
.ctnav ul li a:hover {
	color: #000 !important;
}
.ctnav ul li a {
	color: #555 !important;
	margin: 5px 15px;
	margin-right: 15px;
	padding: 5px;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom: 1px solid #cecece;
}
.home_block.arrow img {
	display: none !important;
}
.home_block {
	padding: 0px 5px;
}
.block01 {
	text-align: center;
}
.ctbtn01 {
	margin-top: 25px;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
